.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-text {
  font-size: 1rem;
  line-height: 1.5;
}

.modal-text h3 {
  margin-top: 15px;
}

.modal-text ul {
  list-style-type: disc;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .modal-content {
    padding: 15px;
    font-size: 0.9rem;
    max-width: 400px;
  }
}

/* Prisitaikymas prie mobiliųjų įrenginių */
@media (max-width: 360px) {
  .modal-content {
    padding: 10px;
    font-size: 0.8rem;
    max-width: 300px;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-text {
  font-size: 1rem;
  line-height: 1.5;
}

.modal-text h3 {
  margin-top: 15px;
}

.modal-text ul {
  list-style-type: disc;
  padding-left: 20px;
}
