.hover-image {
  transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.hover-image:hover {
  transform: scale(1.05); /* Scale the image up to 105% on hover */
}
@media screen and (max-width: 360px) {
  .Insipration {
    font-size: 24px;
  }
}
