.inspiration-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--h1-font-size);
}
.inspiration-description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 8px;
}
.hover-image {
  transition: transform 0.3s ease;
}

.hover-image:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 360px) {
  .Inspiration {
    font-size: 24px;
  }
}
