/* worksection.css */

.worksection {
  background-color: var(--body-color);
  padding: 3rem 0;
}

.worksection__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.8rem;
}

.worksection__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin-bottom: var(--mb-3);
}

.worksection__img {
  border-radius: 3rem;
  margin-bottom: var(--mb-1);

  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.icon {
  color: #ff5733; /* Replace with the color you want */
}
.worksection__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-25);
}

.worksection__description {
  font-size: var(--small-font-size);
}
.worksection__view-more {
  background-color: var(--text-color) !important;
}
.worksection__view-more-active {
  background-color: var(--title-color) !important;
}

@media screen and (max-width: 992px) {
  .worksection__container {
    width: initial;
  }

  .worksection__card {
    padding: 1.25rem 1.5rem;
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 576px) {
    @media screen and (max-width: 350px) {
    }
  }
}
